{{{ _editable }}}
<div class="jumbotron">
  <h1>{{ headline }}</h1>
  
  <amp-carousel width="450" height="300" layout="responsive" type="slides">
    {{#each images}}
      <amp-img
        src="https://amp.dev/static/inline-examples/images/image1.jpg"
        width="450"
        height="300"
      ></amp-img>
    {{/each}}
  </amp-carousel>

</div>