{{{ story.content._editable }}}
<div class="container">
  {{#each story.content.body}}
    {{> (lookup . 'component') }}
  {{/each}}
</div>

{{#section 'script'}}
  <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>
{{/section}}